[submodule "themes/keep"]
	path = themes/keep
	url = https://github.com/XPoet/hexo-theme-keep
[submodule "themes/diaspora"]
	path = themes/diaspora
	url = https://github.com/Fechin/hexo-theme-diaspora.git
